/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  border: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #832e14;
}

/* ===== MEDIA ===== */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* ===== FORMS ===== */
input, button, textarea, select {
  font: inherit;
}

/* ===== BUTTON ===== */
button {
  cursor: pointer;
  background: none;
}

/* ===== LINKS ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== LISTS ===== */
ul, ol {
  list-style: none;
}

/* ===== ROOT ===== */
#root {
  min-height: 100%;
}